<!-- <div class="leftbar">
<ul>
<li>User</li>
<li>My Dashboard</li>
<li>My Plans</li>
<li>Sign Out</li></ul>
</div>
<div class="rightbar">

</div> -->






<div>

  <!-- <select ng-model="vm.types">
    <option value="['geocode']">Geodode</option>
    <option value="['establishment']">Establishment</option>
    <option value="['address']">Address</option>
  </select><br/> -->
 Enter an address: <br/>
  <input places-auto-complete size=80
    ng-model="vm.address"
    
    types="{{types}}"
    on-place-changed="vm.placeChanged()" /> <br/></div>
<button ng-click = "search()">Search</button>
 <ng-map center='current-position'
    geo-fallback-center="[35.2271, -80.8431]"
    geo-callback="vm.callbackFunc('you')"><marker position="{{vm.address}}" title="{{vm.address}}"></marker>
    <marker position="current-position" title="{{vm.address}}">
   </ng-map> 








<!-- <div class="container-fluid home">
  <div class="row content">
    <div class="col-lg-3 sidenavleft">
      <h4>User</h4>
      <ul class="nav nav-pills nav-stacked">
        
        <li><a href="#section2" data-ng-click="">My Dashboard</a></li>
        <li><a href="#section2" data-ng-click="">My Plans</a></li>
        <li><a href="#section3" data-ng-click="">Sign Out</a></li>
        
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    
    
    <div class="col-lg-9 sidenavright">
    
     Hello Welcome
    </div>
    
    
    </div>
    </div> -->