<!--  Page showing Place Details, hotel details, weather details -->

<div class="container fullHeight">
	<div style="height: 20%" class="row">

		<div class="col-xs-4 col-md-2">
			<a href="" data-ng-click="showVenuePhotos(placeDetails.name)"> <img
				data-ng-src="{{buildVenueThumbnail(placeDetails.photos.groups[0])}}"
				class="img-thumbnail" /></a>
		</div>

		<div class="col-md-5">
			<strong style="text-align: center">{{placeDetails.name}}</strong><br>
			Rating: <span class="badge">{{placeDetails.rating | number:1}}</span><br>
			<p class="text-warning">
				<small>{{(placeDetails.location.address != null) &&
					placeDetails.location.address}} -
					{{placeDetails.categories[0].shortName}},
					{{placeDetails.location.city}} - {{placeDetails.location.country}}</small>
			</p>
			<p>{{placeDetails.tips[0].text}}</p>
		</div>
		<div class="col-md-5 rightPlacesDiv">

			<!-- date picker component -->
			Date of Travel: <input type="text"
				style="width: 50%; height: 28px; display: inline"
				class="form-control" uib-datepicker-popup="{{dateFormat}}"
				ng-model="today" name="availabledate"
				is-open="availableDatePopup.opened"
				datepicker-options="availableDateOptions" ng-required="true"
				close-text="Close" ng-click="OpenAvailableDate()"
				ng-change="ChangeExpiryMinDate(AvailableDate)"
				placeholder="Enter Date" />
			<div class="buttonClass">
				<!-- <button type="submit" class="btn btn-default" ng-click="getHotels()" >View Hotels</button> -->
				<button type="submit" style="padding: 3px 10px;"
					class="btn btn-primary" ng-click="getWeather()">Weather
					Details</button>

			</div>
		</div>
	</div>
	<div class="row secondRow borderColor">


		<!-- Section about Hotel Details -->
		<div class="placeDiv" data-ng-hide="reviewsDiv">
			<div data-ng-show="hotelFlag" class="text-center text-warning">
				<strong>No Nearby Hotels found</strong>
			</div>
			<div data-ng-show="hotelSuccess" class="text-success">
				<span class="glyphicon glyphicon-ok"><p>Hotel details has
						been saved</p></span>
			</div>
			<strong>Nearby Hotels:</strong>
			<ul class="list-group" data-ng-repeat="item in filteredPlaces">
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-2 col-md-1">
							<img
								data-ng-src="{{buildCategoryIcon(item.venue.categories[0].icon)}}"
								title="{{item.venue.categories[0].shortName}}" class="venueIcon" />
						</div>
						<div class="col-xs-6 col-md-8">
							<a href="{{item.venue.url}}"
								data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
								<h4 class="venueName">{{item.venue.name}}</h4>
							</a>
						</div>
						<div class="col-xs-4 col-md-3">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-md-1">
							<span class="badge">{{item.venue.rating | number:1}}</span>
						</div>
						<div class="col-xs-6 col-md-8">
							<p class="text-warning">
								<small>{{(item.venue.location.address != null) &&
									item.venue.location.address}} -
									{{item.venue.categories[0].shortName}}</small>
							</p>
							<p>{{item.tips[0].text}}</p>

							<a href="" data-ng-click="saveHotel(item.venue)"><span
								class="glyphicon glyphicon-bookmark"></span>Save or bookmark
								Hotel</a>
						</div>
						<div class="col-xs-4 col-md-3">
							<a href=""
								data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
								<img
								data-ng-src="{{buildVenueThumbnail(item.venue.photos.groups[0])}}"
								class="img-thumbnail" />
							</a>
						</div>
					</div>

				</li>
			</ul>
		</div>
		<!-- Section Reviews -->

		<div class="reviews inline-block" data-ng-show="reviewsDiv">
			<ul class="reviewstab inline-block">
				<li class="showReviews margin-left"><a style="color: white"
					href="" data-ng-click="getReviews()" class="">Recent Reviews</a></li>
				<li class="writeReviews margin-left"><a style="color: white"
					href="" data-ng-click="reviews=true" class="">Write Reviews</a></li>
			</ul>
			<!-- Read Reviews -->

			<div class="recentReviews" ng-hide="reviews">

				<ul class="list-group ul-class"
					data-ng-repeat="reviewItem in reviewDetails">
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-6 col-md-10">
								<p class="text-warning">
									<small>Created at: {{reviewItem.dateAdded}}</small> <small
										style="margin-left: 80px">Reviewed by :
										{{reviewItem.user.userName}}</small>
								</p>

								<p>{{reviewItem.review}}</p>

								<div style='display: inline-block; margin: 0px; padding: 0px'
									; data-ng-repeat="idx in maxRatings track by $index">
									<img
										ng-src='{{(rating <= $index) && "http://www.codeproject.com/script/ratings/images/star-empty-lg.png" || "http://www.codeproject.com/script/ratings/images/star-fill-lg.png"}}'></img>
								</div>
								<div class="inline-block">
									<span class="label label-primary">Star Rating:
										{{reviewItem.rating}}</span>
								</div>
							</div>

						</div>
					</li>
				</ul>

			</div>


			<!-- write Reviews -->

			<div class="writeReviews " ng-show="reviews">


				<div data-ng-show="ReviewsSuccess" class="text-success">
					<span class="glyphicon glyphicon-ok"><p
							style="display: inline-block; margin-left: 5px;">Reviews has
							been saved</p></span>
				</div>
				<form class="form-horizontal zeroMargin" name="reviewsForm"
					ng-submit="createReview(starRating1,textArea,item.venue.name)"
					novalidate>



					<div class="form-group zeroMargin">
						<label for="ratings" class="col-sm-3 control-label">Ratings:</label>

						<div class="zeroMargin" ratings rating="starRating1"
							class="inline-block" read-only="false" max-rating="5"
							click="click1(param)"></div>
						<div class="inline-block">
							<span class="label label-primary">Star Rating:
								{{starRating1 || 0}}</span>
						</div>
					</div>

					<div class="form-group"
						ng-class="{ 'has-error' : reviewsForm.textArea.$error.required && !reviewsForm.textArea.$pristine }">
						<label for="textArea" class="col-sm-3 control-label">Write
							Review:</label>
						<div class="col-sm-8">
							<textarea class="form-control" id="textArea" name="textArea"
								ng-model="textArea" required></textarea>
							<span
								ng-show="reviewsForm.textArea.$error.required && !reviewsForm.textArea.$pristine"
								class="help-block"> Please write the review.</span>
						</div>
					</div>

					<div class="textCenter">
						<button style="padding: 3px 10px;" class="btn btn-success"
							ng-disabled="reviewsForm.$invalid">Post</button>
					</div>
				</form>
			</div>
		</div>
		<!------------------ Section Weather details -------------->
		<div class="weatherDiv">


			<div>
				<strong>Weather Details</strong>
			</div>
			<div class="col-md-12">
				<h4 class="climateCity">
					{{placeDetails.location.city}} <small>timezone:
						{{weatherDetails.timezone}} </small>
				</h4>
				<br>

				<div style="margin-top: -35px">
					<img style="float: left" data-ng-src={{icon}}></img>
					<table class="table table-bordered">
						<h3 class="temperature">{{convertToCelsius(weatherDetails.currently.temperature)}}
							&#8451;</h3>
						</div>
						<tbody>
							<tr class="table-active">

								<td>Wind Speed</td>
								<td>{{weatherDetails.currently.windSpeed}}Kmph</td>

							</tr>
							<tr>

								<td>Pressure</td>
								<td>{{weatherDetails.currently.pressure}}</td>

							</tr>
							<tr class="table-active">

								<td>humidity</td>
								<td>{{weatherDetails.currently.humidity}}</td>

							</tr>
							<tr>

								<td>Max Temperature</td>
								<td>{{convertToCelsius(weatherDetails.daily.data[0].temperatureMax)}}
									&#8451;</td>

							</tr>
							<tr class="table-active">

								<td>Min Temperature</td>
								<td>{{convertToCelsius(weatherDetails.daily.data[0].temperatureMin)}}
									&#8451;</td>

							</tr>

							<tr>

								<td>Summary</td>
								<td>{{temperatureDetails.summary}}</td>

							</tr>


						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>