<!--  Popup for Share email -->

<div class="modal-entire">
	<div class="modal-header">
		<h3 class="modal-title">Share your Plan!</h3>
	</div>

	<div class="modal-body">

		<label>Enter Email Address:</label> <input type="text"
			ng-model="email"><br>
		<br>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button"
			ng-click="shareEmail(email)">Send Email</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>
